mixin horse
	svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", version="1.1", id="Capa_1", x="0px", y="0px", width="37.212px", height="37.212px", viewBox="0 0 37.212 37.212", xml:space="preserve")
		g
			path(d="M16.395,13.598c0.822,0.275,2.662,0.118,3.544,0.224c1.8,0.215,3.318-0.644,4.087-1.405   c4.222-4.191,6.703-3.672,6.703-3.672l0.604-1.532l0.545,0.926l0.318-0.798l0.225,1.277l2.905,3.48c0,0-1.31-0.958-0.032,0.128   c1.277,1.084,0.353,2.17,0.353,2.17c-0.927,0.862-2.49-0.861-2.49-0.861c-1.533-0.256-1.979-0.958-1.979-0.958   c-0.288,1.565-2.776,3.64-2.776,3.64c-0.799,1.564-0.226,2.81-0.226,2.81c0.83,0,2.332,0.991,2.332,0.991   c1.31-0.033,2.17,0.637,2.17,0.637l4.216,3.641c0.718,0.721,0,0.798,0,0.798l-0.8,0.032c-1.116,0-0.732-1.148-0.732-1.148   c-0.99,0-1.884-1.627-1.884-1.627c-0.769-0.416-2.107-0.959-2.107-0.959c-2.459-0.799-3.063-0.191-3.063-0.191   c0.67,0.639,2.268,4.023,2.268,4.023c0.574,1.276,3.416,3.575,3.416,3.575c1.147,1.056,0.063,1.022,0.063,1.022h-1.184   c-1.053,0-0.51-1.182-0.51-1.182l-0.383,0.03c-0.862,0-1.056-1.276-1.056-1.276c-0.576-0.447-4.471-5.396-4.471-5.396   c-0.671-1.085-1.214-0.894-1.214-0.894c-4.692,1.18-8.108-0.32-8.108-0.32c-2.363-1.276-2.971-0.637-2.971-0.637   c-0.511,2.01-3.447,3.224-3.447,3.224c-1.5,0.67-1.725,2.427-1.725,2.427L9.017,28c0.606,0.064,1.725,1.184,1.725,1.184   c0.926,0.926-0.734,0.83-0.799,0.797c-1.059-0.528-0.732-0.67-0.732-0.67c0-0.353-0.129-0.287-0.129-0.287   c-1.436-0.319-0.958-1.021-0.958-1.021l0.032-2.842c0.032-1.5,0.542-2.012,0.542-2.012c1.149-0.605,1.149-1.053,1.149-1.053   c-0.574-0.385-2.107,0.67-2.107,0.67c-1.945,0.86-3.959,3-3.959,3c-0.382,1.117-1.661,0.832-1.661,0.832   c-0.35,0.254-0.925,0.445-0.925,0.445c-1.947,0.447-0.928-0.732-0.928-0.732c0.703-1.086,1.533-0.896,1.533-0.896   c0.064,0.319,0.543,0.127,0.543,0.127c0.129-0.511,2.746-2.36,2.746-2.36c0.574-1.15,2.362-2.236,2.362-2.236   c2.235-1.34,1.979-2.042,1.979-2.042c-0.063-2.107,0.701-3.129,0.701-3.129c0.769-0.958,0.065-0.767,0.065-0.767   c-1.979,1.916-8.621,3.64-8.621,3.64c2.235-5.938,9.705-4.853,9.705-4.853C13.457,12.544,15.18,13.194,16.395,13.598z")


mixin horseNew(num)
	svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 452.3 285.1" enable-background="new 0 0 452.3 285.1" xml:space="preserve")
		g(id="horse1")
			g
				g
					g
						g
							g(opacity="0.25")
								path(fill="#414142" d="M385.1,224l-10.5-61.6c-3.7-18.6-15.8-14.5-15.8-14.5s-1.4,0.5-2.9,1.8l-34.7,2.8 c0,0-16.6-1.2-18.7,11.7c0,0-2.9,8.7,5.1,13.3c23.5,5.2,39-2.5,48.1-10.3c0.3,0.6,0.7,1.3,1.1,2 c18.7,18.5,14.5,36.1,11.2,43.8l-13.5,1.3l8.7,24.7c0,0,7.9-2.5,9.6-11.1l2.6,4.1L385.1,224z")
							g
								path(fill="#B85B31" d="M374.5,162.3c-3.7-18.6-15.8-14.5-15.8-14.5s-1.4,0.5-2.9,1.8l-34.7,2.8c0,0-16.6-1.2-18.7,11.7 c0,0-2.9,8.7,5.1,13.3c23.5,5.2,39-2.5,48.1-10.3c0.3,0.6,0.7,1.3,1.1,2c25,24.7,9,47.9,9,47.9l9.5,14.9l9.9-8L374.5,162.3z")
								path(fill="#EFF0EF" d="M369.5,190.1c4.1,15.5-3.9,27-3.9,27l9.5,14.9l9.9-8l-6.1-35.5L369.5,190.1z")
								path(fill="#414142" d="M354.2,214.3l8.7,24.7c0,0,11.8-3.8,9.6-17.7l-3-8.5L354.2,214.3z")
						g
							g(opacity="0.3")
								path(fill="#414142" d="M226.3,272.2l0.9-1.9l-46-61.3c50.2-67.1,4.7-111.1,4.7-111.1l-50.8,52.5c39.4,13.4,34.4,37,27.2,50.6 c-1.1,0.6-1.6,1.2-1.6,1.2s-11.1,8.7-2.4,18.7c0,0,3.8,4.9,11,4.3c29.7,13.6,38.1,47.2,38.1,47.2l4.1,2.5l-2.5,9.9l25.2,0.2 C234.2,285.1,234.5,276.3,226.3,272.2z")
							g
								path(fill="#B85B31" d="M181.2,209c50.2-67.1,4.7-111.1,4.7-111.1l-50.8,52.5c39.4,13.4,34.4,37,27.2,50.6 c-1.1,0.6-1.6,1.2-1.6,1.2s-11.1,8.7-2.4,18.7c0,0,3.8,4.9,11,4.3c29.7,13.6,38.1,47.2,38.1,47.2l14.5,9l5.3-11.1L181.2,209z" )
								path(fill="#EFF0EF" d="M221.9,281.5l5.3-11.1l-22.6-30.1l-12,3.5c11.2,13.9,14.8,28.7,14.8,28.7L221.9,281.5z")
								path(fill="#414142" d="M209,284.9l25.2,0.2c0,0,0.4-12-12.9-14.5l-8.7-0.1L209,284.9z")
						g
							g
								g(opacity="0.25")
									path(fill="#595A5C" d="M442.8,87.9l-27.8-22.3L403.8,49c0,0-1.7-0.5-4.3-0.9L380,31.9c0,0-2.3,4.1,1.6,10c0,0,0,0,0,0 c-9.5-2.2-22-3.2-37.7-0.7c-30.4,4.7-55.6,30-67.9,52.8c9-5,13.6-10,13.6-10s8.7-5.1,19.8-3.9c7.2,0.8,15.4,4.2,22.9,13.5 c0,0,10.2,14,11.2,33.1c12.2-23.8,31.9-34.9,41-39c4,2.2,9.3,3.8,16.4,4.2c0,0,36.7,2.2,36.5,16.1l13-1 C457.5,93.3,442.8,87.9,442.8,87.9z")
								g
									path(fill="#D16E37" d="M442.8,87.9l-27.8-22.3L403.8,49c0,0-1.7-0.5-4.3-0.9L380,31.9c0,0-4,6.9,7.1,16 c-6.9,1.1-13.4,5-13.9,15.5c0,0-5.2,26.7,27.6,28.5c0,0,36.7,2.2,36.5,16.1l13-1C457.5,93.3,442.8,87.9,442.8,87.9z")
									path(fill="#B85B31" d="M373.2,63.4c0.2-5.4,2.1-9.1,4.9-11.5c-34.9,0.7-57.6,17.4-68.8,28.3c7.2,0.8,15.4,4.2,22.9,13.5 c0,0,10.2,14,11.2,33.1c12.2-23.8,31.9-34.9,41-39C370.1,79.7,373.2,63.4,373.2,63.4z")
									path(fill="#414142" d="M387.1,47.9c-2.6-2.1-4.4-4.1-5.6-6c-9.5-2.2-22-3.2-37.7-0.7c-30.4,4.7-55.6,30-67.9,52.8 c9-5,13.6-10,13.6-10s8.7-5.1,19.8-3.9c11.2-10.9,34-27.5,68.8-28.3C380.6,49.6,383.8,48.4,387.1,47.9z")
							g
								g
									path(fill="#414142" d="M125.3,98.5c-39-19.6-60.1,17.2-60.1,17.2c24.6,24.6-7.7,45.4-7.7,45.4L7,146.1 c-14-24.4-2.8-40.9-2.8-40.9c9.6,39.7,50,29.1,50,29.1L41.4,95.8c47.6-43.3,88.4-3.2,88.4-3.2L125.3,98.5z")
									g
										path(fill="#D16E37" d="M326.3,198.1l-6.8-22.7c5.5-3.3,8.3-6.9,8.3-6.9c32.4-36.6,4.4-74.9,4.4-74.9 c-19.1-23.6-42.8-9.6-42.8-9.6s-35.6,39.4-107.3,7.1c-7-6-16.5-11.2-29.2-12c-31.9-2-42.5,28.2-42.5,28.2 s-12.1,22.5,7.6,44.3c31.9,19.9,17.1,41.7,6.7,52c-7.8,1.3-8.8,8.1-8.8,8.1s-3.7,13.6,9.2,16.5c0,0,5.9,1.7,11.4-3.1 c32-6.8,58.8,15.2,58.8,15.2l17-1.4l-2.4-12.1l-61.9-18.3c34.2-32.5,35.5-63.5,31.1-83c8.7,5.3,18.4,16.3,11.3,37.3 c0,0,52.7,44.2,102.5,17.8c3.6,11.8,10.2,19.6,16.4,24.7c-17.6,30.1-44,20.6-44,20.6l-12.1,13l10.3,7.6l57-25.7 c17.1-8.3,10-19,10-19S329.2,199.2,326.3,198.1z")
										g
											path(fill="#FFFFFF" d="M300.8,229.4l-5.5-8.6c-14.9,10.2-29.9,4.8-29.9,4.8l-12.1,13l10.3,7.6L300.8,229.4z")
											path(fill="#414142" d="M268.2,214.9l-19.7,17.2c0,0,7.9,9.6,20,2.4l6.8-5.9L268.2,214.9z")
										g
											path(fill="#FFFFFF" d="M170.8,227.3c14.8,4.9,24.5,12.9,24.5,12.9l17-1.4l-2.4-12.1l-36.4-10.8L170.8,227.3z")
											path(fill="#414142" d="M198.8,243.8l25.2-0.6c0,0,0.1-12-13.4-14.1l-8.7,0.2L198.8,243.8z")
					g
						path(fill="#414142" d="M254.1,94.9l0.4-1.5l-41.5-3.3l-0.5,7.3C220.9,97.5,240.6,97.4,254.1,94.9z")
						path(fill="#EAB729" d="M208.2,97.4c0,0,36.4,1.1,52.3-4.1l1.8,62.7c0,0-42.6,12-49.8-29L208.2,97.4z")
						path(fill="#EAEBEB" d="M222.2,147.7c14.9,15.4,40.1,8.3,40.1,8.3l-0.2-8.3H222.2z")
						path(fill="#414142" d="M247.5,157.6v31.2h10.1V157C254.9,157.4,251.4,157.7,247.5,157.6z")
					g
						g
							path(fill="#313131" d="M404.7,61.3c-0.7,0.4-1.1,1.1-1.3,1.9c-0.3,1.6,0.8,3.1,2.4,3.4c1.6,0.3,3.1-0.8,3.4-2.4c0,0,0,0,0,0 L404.7,61.3z")
							circle(fill="#EB8257" cx="445.6" cy="98.2" r="3.7")
						path(fill="#EAEBEB" d="M432.3,77.5l-2.9-1.9L422.6,86c-0.7-0.4-1.4-0.7-2.2-0.8c-2-0.4-3.9,0.2-5.4,1.3l-32.6-39.9l-4.1,1.1 l2.8,3.4l0.5,30.1l-67.2-12.9l-2.7,4.2l3.6,0.7l46.3,31.6l2.2-2.4l-40.6-27.8l89,16.5c-0.6,3.8,1.9,7.3,5.7,8 c3.8,0.7,7.5-1.9,8.2-5.7c0.3-1.8-0.1-3.5-0.9-4.9L432.3,77.5z M385.1,81.9l-0.4-26.5l25.7,31.4L385.1,81.9z M423.6,93 c-0.4,2.4-2.8,4.1-5.2,3.6c-2.4-0.4-4.1-2.8-3.6-5.2c0.4-2.4,2.8-4.1,5.2-3.6C422.4,88.2,424,90.5,423.6,93z")
				g
					g
						g(opacity="0.25")
							path(fill="#595A5C" d="M303.6,24.5l-5.5-9.9l-5,1.3c-6-1.5-46-10.9-67.8,1.4c0,0-16.2,4.7-16.8,18.1c0,0-0.7,8.3,4.7,14.6 l42.4,23.7c-1.1,3.5-2.5,6.7-3.8,9.6l-1.4-0.4L238.6,128l31.5,7.4c1.5-7.9-7.2-10-7.2-10l-13.1-4.3l18.8-32.8l-2.4-0.7 l4.3-12.2c4.2-8.5-2.7-13.4-2.7-13.4l-30.6-24.2l0.6,0.5l50.2,0.4l6.8-6.8l-0.2-3.3L303.6,24.5z")
						g
							path(class="horseColor" fill="#D64236" d="M303.6,24.5l-5.5-9.9l-5,1.3c-6-1.5-46-10.9-67.8,1.4l12,20.7l0.6,0.5l50.2,0.4l6.8-6.8l-0.2-3.3 L303.6,24.5z")
							path(fill="#313131" d="M246.6,38.4l14.1,0.1V11.1c-4.6-0.2-9.4-0.2-14.1,0.3V38.4z")
							path(fill="#313131" d="M250.3,82.8l18.3,5.6l-18.8,32.8l13.1,4.3c0,0,8.7,2.1,7.2,10l-31.5-7.4L250.3,82.8z")
							path(fill="#F0F1F1" d="M267.9,62.1l-30.6-24.2l-12-20.7c0,0-16.2,4.7-16.8,18.1c0,0-0.7,8.3,4.7,14.6l42.4,23.7 c-1.1,3.5-2.5,6.7-3.8,9.6l14.5,4.5l4.3-12.2C274.8,67,267.9,62.1,267.9,62.1z")
							polygon(class="horseColor" fill="#D64236" points="264.8,95.1 268.6,88.4 250.3,82.8 248.7,89.1")
					
					rect(x="253.3" y="120.6" transform="matrix(0.9721 0.2347 -0.2347 0.9721 36.955 -56.3054)" fill="#F0F1F1" width="3.6" height="13.2")
					polygon(fill="#313131" points="314,71.4 311.7,70.5 290.6,121.3 288,123.2 282.1,137.2 284.9,138.4 287.7,139.5 293.5,125.5 293,122.3")
					g
						g(opacity="0.25")
							path(fill="#595A5C" d="M318.4,24.6l0.2-0.3l3.8,1.6c0.9-2,1.5-3.8,1.9-5.5l5.9-0.3c0,0-1.1-1.7-5.4-3 c1.1-13-11.8-16.5-11.8-16.5c-15.3-3.4-19.4,13.4-19.4,13.4l1.7,3.7c0.4,6.6,1.8,11.7,3.4,15.4l-0.5,0.9l2.3,3.6l0.2-0.5 c2,3.2,3.7,4.6,3.7,4.6l8-9.7l3.6,1.9l1-7.5l0,0l0.2-0.2C317.7,25.5,318.1,25.1,318.4,24.6z")
						g
							g
								path(class="horseColor" fill="#D64236" d="M322.4,25.8l-28.7-11.9c0,0,4-16.9,19.4-13.4C313.1,0.5,331.5,5.5,322.4,25.8z")
								g
									path(fill="#313131" d="M312.5,21c-0.4,0.1-0.8,0.2-1.2,0.2l11.1,4.6c0.9-2,1.5-3.8,1.9-5.5L312.5,21z")
									path(fill="#313131" d="M310.1,20.7l3,1.2L300.9,2.6c0,0,0,0,0,0c-0.5,0.4-0.9,0.7-1.4,1.1c0,0,0,0,0,0L310.1,20.7z")
									path(fill="#BB2337" d="M312.5,21l17.7-1c0,0-3.3-5.1-21.4-4.8L312.5,21z")
							g
								path(fill="#ECB873" d="M318.6,24.3l-23.4-9.7c0.3,19.9,9.4,27.1,9.4,27.1l8-9.7l3.6,1.9l1-7.5l0,0L318.6,24.3z")
								polygon(fill="#414142" points="311.3,21.2 307.5,19.7 303.3,24.5 299,16.1 293.7,13.9 300.6,29.3 298.3,33.9 300.7,37.5 305.5,27.4 311.3,21.2")
								g
									path(fill="#313131" d="M308.5,20l1.9,7.5c4.9,1,7.1-1.3,8.2-3.3L308.5,20z")
									path(fill="#E5E6E7" d="M314,22.4c-0.1,1.3,0.1,3.1,1.2,3.3c1.1,0.2,1.8-1.2,2.1-1.9L314,22.4z")
					g
						g(opacity="0.25")
							path(fill="#595A5C" d="M298.8,72.2l15.4,6.5l6.9-10.9l-16-7.4l-5.8,5.4v0l-23.6-4.5l12-18.7c5.3-1.4,8.7-6.6,7.7-12.1 c-1.1-5.7-6.6-9.4-12.3-8.3c-5,1-8.5,5.3-8.5,10.2l-11.1,28c-1.3,0.6-2.3,1.9-2.4,4.3L261,67l-0.1,0.3c0,0,0,0,0.1,0l-0.3,2.9 L298.8,72.2L298.8,72.2z")
						g
							path(fill="#313131" d="M298.8,72.2l0.6-6.6l-23.6-4.5l12-18.7c5.3-1.4,8.7-6.6,7.7-12.1c-1.1-5.7-6.6-9.4-12.3-8.3 c-5,1-8.5,5.3-8.5,10.2l-11.1,28c-1.3,0.6-2.3,1.9-2.4,4.3L261,67l-0.1,0.3c0,0,0,0,0.1,0l-0.3,2.9L298.8,72.2z")
							polygon(fill="#ECB873" points="299.5,65.7 305.2,60.3 321.2,67.8 314.2,78.7 298.8,72.2")
							polygon(class="horseColor" fill="#D64236" points="299.5,65.7 287.9,63.5 286.8,71.6 298.8,72.2")
			rect(x="222.8" y="109.4" fill="none" width="18.8" height="24.8")
			text(transform="matrix(1 0 0 1 222.781 129.9872)" fill="#414142" font-family="'Impact'" font-size="26")=num



doctype html
html
	head
		meta(charset="utf-8")
		title Horses
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width")
		script(src="https://unpkg.com/vue/dist/vue.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.min.js")
		script(src="/socket.io/socket.io.js")
		link(rel="stylesheet", href="assets/css/horses.css")
		link(href="https://fonts.googleapis.com/css?family=Josefin+Sans|Kanit:900|Montserrat|Suez+One" rel="stylesheet")


	.intro(data-hidden="false")
		h1 Paper Play !
		p Get your flyer, pick your horse, smash it, and win !
		p.
			Paper Play uses an RFID technology embeded in the paper itself, interaction with touch action.
			Each horse on the flyer is assigned to a specific RFID tag, that we match to one on screen.
		button#playbutton Play now !

	.scene(data-hidden="true")
		.horses
			.a
				span.name.name-a 1 - Idéal du Gazeau
				+horseNew('1')
			.z
				span.name.name-z 2 - Minou du Donjon
				+horseNew('2')
			.e
				span.name.name-e 3 - Rêve d'Udon
				+horseNew('3')
			.r
				span.name.name-r 4 - Général du Pommeau
				+horseNew('4')
			.t
				span.name.name-t 5 - Hadol du Vivier
				+horseNew('5')
			.y
				span.name.name-y 6 - Jag de Bellouet
				+horseNew('6')
		.finishLine

	.winner(data-hidden="true")
		h1 End of the race !
		p Number #[span#winner] won the game !

	script.
		// takes a callback that returns a data object
		function socketInit(callback) {
		  var socket = io.connect();
		  socket.on('rfid', callback);
		}

		socketInit(function(data) {

		  console.log('data', data);

		  data.forEach(function(id) {
			if(id.indexOf('39B135040001') > -1) {
				moveHorse('a');
				console.log('receiving a', id);
			}
			if(id.indexOf('39B135040002') > -1) {
				moveHorse('z');
				console.log('receiving z', id);
			}
			if(id.indexOf('39B135040003') > -1) {
				moveHorse('e');
				console.log('receiving e', id);
			}
			if(id.indexOf('39B135040004') > -1) {
				moveHorse('r');
				console.log('receiving r', id);
			}
			if(id.indexOf('39B135040005') > -1) {
				moveHorse('t');
				console.log('receiving t', id);
			}
			if(id.indexOf('39B135040006') > -1) {
				moveHorse('y');
				console.log('receiving y', id);
			}
			});
		});

		window.myStore = {
			totalVotes: 0,
			horses: ['a','z','e','r','t','y'],
			votes: [0,0,0,0,0,0],
			running: false
		}
		window.addEventListener("keydown", function (event) {
			if (event.defaultPrevented) {
				return; // Do nothing if the event was already processed
			}
			myStore.totalVotes ++;
			switch (event.key) {
			case "a": choosenHorse = 'a'; break;
			case "z": choosenHorse = 'z'; break;
			case "e": choosenHorse = 'e'; break;
			case "r": choosenHorse = 'r'; break;
			case "t": choosenHorse = 't'; break;
			case "y": choosenHorse = 'y'; break;
			default:
				return; // Quit when this doesn't handle the key event.
			}
			if(myStore.running) moveHorse(event.key);

			// Cancel the default action to avoid it being handled twice
			// event.preventDefault();
		}, true);


		function moveHorse(choosenHorse){

			myStore.horses.forEach(function(item){
				if(item === choosenHorse){
					myStore.votes[myStore.horses.indexOf(item)] = myStore.votes[myStore.horses.indexOf(item)] + 1;
				}
				var newPos = 80*myStore.votes[myStore.horses.indexOf(item)]/Math.max(...myStore.votes);
				document.querySelector('.'+item+' svg').style.transform = 'translateX('+newPos+'vw)';
				console.log('[Horse:%s] [newPos: 80*%s/%s=%s]', item, myStore.votes[myStore.horses.indexOf(item)], Math.max(...myStore.votes), newPos);
			})
		};

		document.querySelector('#playbutton').addEventListener("click", function(){
			myStore.running = true;
			document.querySelector('.intro').setAttribute("data-hidden", true);
			document.querySelector('.scene').setAttribute("data-hidden", false);
			setTimeout(function(){
				myStore.running = false;
				document.querySelector('.scene').setAttribute("data-hidden", true);
				document.querySelector('.winner').setAttribute("data-hidden", false);
				document.querySelector('#winner').innerHTML = myStore.votes.indexOf(Math.max(...myStore.votes)) + 1;
			}, 5000)
		});






		