html,
body {
  height: 100%;
  background-image: url("../images/background-taronga.svg");
  background-size: cover;
  margin: 0;
}

canvas {
  /*width: 100%;*/
  /*height: auto;*/
  position: absolute;
  bottom: 0;
}

.logo-container { padding: 16px; }
.rfid-logo { width: 5%; float: right;}
.t-logo { width: 14%; }

.lion {
  /*background-color: orange;*/
  /*height: 125px;*/
  width: 15%;
  position: absolute;
  bottom: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  animation-fill-mode: forwards;
  animation: move 10s linear infinite;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@keyframes move {
    0%   {left: 0px;}
    25%  {left: 600px;}
    50%  {left: 1200px;}
    75%  {left: 600px;}
    100% {left: 0px;}
}

.lion.show {
  -webkit-transform: translateY(-95%);
          transform: translateY(-95%);
  animation-play-state: paused;
}