html,
body {
  height: 100%;
  background-image: url("../images/background-taronga-reversed.png");
  background-size: cover;
  margin: 0;
}

canvas {
  /*width: 100%;*/
  /*height: auto;*/
  position: absolute;
  bottom: 0;
}

.logo-container { padding: 16px; }
.rfid-logo { width: 5%; float: right;}
.t-logo { width: 14%; }

.lion {
  width: 14%;
  position: absolute;
  bottom: 0;
  -webkit-transition: all 1s cubic-bezier(0.255, 0.775, 0.33, 1.575);
  transition:         all 1s cubic-bezier(0.255, 0.775, 0.33, 1.575); 
  animation-fill-mode: forwards;
  animation: move 10s linear infinite;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

@keyframes move {
    0%   {left: 0px;}
    25%  {left: 600px;}
    50%  {left: 1200px;}
    75%  {left: 600px;}
    100% {left: 0px;}
}

.lion.show {
  -webkit-transform: translateY(-100%) scale(1.3);
          transform: translateY(-100%) scale(1.3);
  animation-play-state: paused;
}