html,
body {
  height: 100%;
  background-image: url("../images/safari-bg.jpg");
  margin: 0;
}

canvas {
  /*width: 100%;
  height: auto;*/
  position: absolute;
  bottom: 0;
}

.lion {
  background-color: orange;
  height: 125px;
  width: 125px;
  position: absolute;
  bottom: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  animation-fill-mode: forwards;
  animation: move 5s linear infinite;
  -webkit-transform: translateY(0);
          transform: translateY(0);

}

@keyframes move {
    0%   {left: 0px;}
    25%  {left: 600px;}
    50%  {left: 1200px;}
    75%  {left: 600px;}
    100% {left: 0px;}
}

.lion.show {
  -webkit-transform: translateY(-125%);
          transform: translateY(-125%);
  /*animation-fill-mode: forwards;*/
  animation-play-state: paused;
}